* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}

html {
    height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    caret-color: transparent;
}

.body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

button {
    cursor: pointer;
}

.header {
    flex: 0 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 16px 0;
    position: fixed;
    width: 100%;
    height: 60px;
}

.header__container {
    max-width: 1480px;
    padding: 0 20px;
}

.header__cart {
    width: 20px;
    height: 20px;
    align-self: flex-end;
    position: relative;
    cursor: pointer;
}

.header__cart-icon {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center;
    object-position: center;
}

.header__cart-count {
    position: absolute;
    width: 16px;
    height: 16px;
    right: -8px;
    top: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 50%;
    background-color: rgb(241, 94, 50);
}

.main {
    flex: 1 0 auto;
    margin-top: 60px;
}

.footer {
    flex: 0 0 auto;
}

.container {
    max-width: 1480px;
    padding: 0 20px;
    margin: 0 auto;
}

.products__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 20px;
}

.product__img {
    width: 200px;
    height: 200px;
    -o-object-fit: contain;
    object-fit: contain;
}

.product__footer {
    display: flex;
}

.product__count-block {
    display: flex;
}

.cart {
    position: fixed;
    top: 0;
    right: 0;
    padding: 20px;
    border: 1px solid #676767;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #f3f3f3;
    overflow-y: scroll;
}